<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #00b300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<center>
<h1>DATABASE</h1>
</center>
</head>

<center>
<body style="background-color:#361c73 ">
  <a href="http://127.0.0.1:5000/students"><button class="button" >STUDENT DATABASE</button></a>
  <br><br>
   <a href="http://127.0.0.1:5000/teachers" > <button class="button" >TEACHER DATABASE</button></a>
</center>
</body>
</html>
